# Include the README file
include README.md

# Include the license file
include LICENSE

# Include the requirements file
include requirements.txt

# Include all files in the data directory
recursive-include pyros2 *

# Include all .txt files in the docs directory
# recursive-include docs *.txt

# Include all YAML files in a config directory
# recursive-include config *.yaml

# Exclude specific files or directories
global-exclude *.pyc
global-exclude *.pyo
global-exclude .DS_Store